{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static 'logic.js' %}"></script>
    <title>MysteryNation Word Game</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <script src="{% static 'logic.js' %}"></script>
  </head>
  <body id="start_body">
    <audio id="click" src="{% static 'audio/mousclick.mp3' %}"></audio>
    <audio id="congrats" src="{% static 'audio/congrats.mp3' %}"></audio>
    <audio id="bell" src="{% static 'audio/bell.mp3' %}"></audio>
    <button class="start-btn" onclick="startit()">Start</button>
    <script>
      function playAudio(audio) {
        if (audio) {
          audio.currentTime = 0; // Reset audio to start if played before
          audio
            .play()
            .catch((error) => console.log("Audio playback error:", error));
        }
      }
      function onWin() {
        playAudio(document.getElementById("congrats"));
      }
      function ringBell() {
        playAudio(document.getElementById("bell"));
      }
      function clickButton() {
        playAudio(document.getElementById("click"));
      }
      function startit() {
        ringBell();
        setTimeout(() => {
          sendVoiceCommand("Welcome to Mystery Nation!");
        }, 10000); // Wait 500ms before redirecting (adjust as needed)

        setTimeout(() => {
          window.location.href = "/instructions/";
        }, 700); // Wait 500ms before redirecting (adjust as needed)
      }
    </script>
  </body>
</html>
